<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856415203127-vcbfpa29fh67pevkmr5hrtqlmcic5psi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856415203127-vcbfpa29fh67pevkmr5hrtqlmcic5psi</string>
	<key>API_KEY</key>
	<string>AIzaSyBWR3spWOUmo3TkZyj0qRUn6U9mFsUAAzw</string>
	<key>GCM_SENDER_ID</key>
	<string>856415203127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.coal.meat.app</string>
	<key>PROJECT_ID</key>
	<string>meat-coal-3feda</string>
	<key>STORAGE_BUCKET</key>
	<string>meat-coal-3feda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856415203127:ios:40a5ec06e400a3bc3374b2</string>
</dict>
</plist>